soap-config/wsdl/pret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://soap.example.com/pret"
    targetNamespace="http://soap.example.com/pret">

  <wsdl:types>
    <xs:schema 
        elementFormDefault="qualified" 
        targetNamespace="http://soap.example.com/pret">

      <xs:element name="pretRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="nationalite" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="pretResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="isEligible" type="xs:boolean"/>
            <xs:element name="reason" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="pretRequest">
    <wsdl:part name="parameters" element="tns:pretRequest"/>
  </wsdl:message>

  <wsdl:message name="pretResponse">
    <wsdl:part name="parameters" element="tns:pretResponse"/>
  </wsdl:message>

  <wsdl:portType name="PretPort">
    <wsdl:operation name="pret">
      <wsdl:input message="tns:pretRequest"/>
      <wsdl:output message="tns:pretResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PretPortSoap11" type="tns:PretPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pret">
      <soap:operation soapAction="pretAction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PretPortService">
    <wsdl:port name="PretPortSoap11" binding="tns:PretPortSoap11">
      <soap:address location="http://localhost:8080/soap-pret/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
